<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Bootstrap demo</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" rel="stylesheet">
    <!-- icon -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
          rel="stylesheet"/>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
body{
  font-family: 'Barlow', sans-serif;
}
a:hover{
  text-decoration: none;
}
.border-left{
  border-left: 2px solid var(--primary) !important;
}
.sidebar{
  top: 0;
  left : 0;
  z-index : 100;
  overflow-y: auto;
}
.overlay{
  background-color: rgb(0 0 0 / 45%);
  z-index: 99;
}
.dropdown-toggle{
    position: relative;
}
#user_logo{
    font-size: 40px;
    position: absolute;
    right: 11px;
    bottom: -7px;
    cursor: pointer;
}
#user_dropdown{
    font-size: 20px;
    position: relative;
    right: 20px;
}

.btn {
     width: 150px;
     float: right;
     }
.bttn {
      width: 150px;
     float: right;
     text-decoration: none;
     border-radius: 0.25rem;
     font-weight: 400;
     border-color: #28a745;
     display: inline-block;
     border: 1px solid transparent;
     padding: 0.375rem 0.75rem;
    font-size: 1rem;
    opacity: 0.7;

    }
.nav-bar {
	background-color: rgba(255, 0, 255, 0.2);
	backdrop-filter: blur(5px);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	border-radius: 8vw;
}

.nav {
	flex: 1;
	padding: 20px 20px;
	color: #55555;
	text-align: center;
	text-decoration: none;
	font-family: poppins;
}
.nav.active {
	background: red;
	color: black;
	border-radius: 8vw 0 0 8vw;
	background: #99d5ea33;
}

#addemp {
        margin-bottom: 10px;
        }
#viewbtnemp {
    width: 90px;
    padding: 3px;
    position: relative;
    right: 25px;

        }

.btttn {
        border-radius: 10px;
    border: none;
    padding: 5px;
        }

th, td {
    text-align: center;
    }

.blink {
        animation: blinker 2s linear infinite;
        color: red;
        font-size: 12px;
        font-weight: 200;
    }
    @keyframes blinker {
        50% {
            opacity: 0.5;
        }


/* sidebar for small screens */
@media screen and (max-width: 767px){
  .sidebar{
    max-width: 18rem;
    transform : translateX(-100%);
    transition : transform 0.4s ease-out;
  }
  .sidebar.active{
    transform : translateX(0);
  }
}







</style>
<body>
<!-- overlay -->
<div class="overlay w-100 vh-100 position-fixed d-none" id="sidebar-overlay"></div>
<!-- sidebar -->
<div class="col-md-3 col-lg-2 px-0 position-fixed h-100 bg-white shadow-sm sidebar" id="sidebar">
    <h1 class="text-primary d-flex my-4 justify-content-center"> HR Admin </h1>
<!--    <div class="list-group rounded-0">-->
<!--        <a class="list-group-item list-group-item-action active border-0 d-flex align-items-center" href="/hrms/home">-->
<!--            <span class="bi bi-border-all"></span>-->
<!--            <span class="ml-2"> Employees </span>-->
<!--        </a>-->
<!--        <a class="list-group-item list-group-item-action border-0 d-flex align-items-center" href="/hrms/recruit">-->
<!--            <span class="bi bi-border-all"></span>-->
<!--            <span class="ml-2"> Recruitment </span>-->
<!--        </a>-->
<!--        <a class="list-group-item list-group-item-action border-0 align-items-center" href="#">-->
<!--            <span class="bi bi-box"></span>-->
<!--            <span class="ml-2"> Hierarchy </span>-->
<!--        </a>-->
<!--        <a class="list-group-item list-group-item-action border-0 align-items-center" href="/employee/attendance">-->
<!--            <span class="bi bi-box"></span>-->
<!--            <span class="ml-2"> Employee Attendance </span>-->
<!--        </a>-->
<!--        <a class="list-group-item list-group-item-action border-0 align-items-center" href="#">-->
<!--            <span class="bi bi-box"></span>-->
<!--            <span class="ml-2"> Year Calender </span>-->
<!--        </a>-->
<!--        <a class="list-group-item list-group-item-action border-0 align-items-center" href="#">-->
<!--            <span class="bi bi-box"></span>-->
<!--            <span class="ml-2"> Company Policies </span>-->
<!--        </a>-->
<!--        <a class="list-group-item list-group-item-action border-0 align-items-center" href="/payslip">-->
<!--            <span class="bi bi-box"></span>-->
<!--            <span class="ml-2"> Pay Slip Upload </span>-->
<!--        </a>-->

<!--    </div>-->
    <div class="list-group rounded-0">
        {% for menu in menus %}
        {% if menu[1] == request.path %}
        <a class="list-group-item list-group-item-action border-0 d-flex align-items-center active"
           href="{{ menu[1] }}">
            <span class="bi bi-box"></span>
            <span class="ml-2">{{ menu[0] }}</span>
        </a>
        {% else %}
        <a class="list-group-item list-group-item-action  border-0 d-flex align-items-center" href="{{ menu[1] }}">
            <span class="bi bi-box"></span>
            <span class="ml-2">{{ menu[0] }}</span>
        </a>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="col-md-9 col-lg-10 ml-md-auto px-0 ms-md-auto">
    <!-- top nav -->
    <nav class="w-100 d-flex px-4 py-2 mb-4 shadow-sm">
        <!-- close sidebar -->
        <button class="btn py-0 d-lg-none" id="open-sidebar">
            <span class="bi bi-list text-primary h3"></span>
        </button>
        <div class="dropdown ml-auto">
            <!-- <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> -->
            <span class="dropdown-toggle" data-bs-toggle="dropdown" id="user_dropdown">
            <span class="material-symbols-outlined" id="user_logo">
                account_circle
                </span>
            </span>
            <!-- </button> -->
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" data-bs-target="#staticBackdrop" data-bs-toggle="modal" href="#">Switch
                    role</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
        </div>
    </nav>
    <!-- switchrole dialogue box -->
    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-bs-backdrop="static"
         data-bs-keyboard="false"
         id="staticBackdrop" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Switch the role</h1>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <h3>
                            Choose your roles:
                        </h3>
                    </div>
                    <!-- For Loop Place -->
                    <div class="row mt-3">

                        <div class="col-md-4">
                            <a href="/test">
                                <button class="btn btn-primary"> HR Admin</button>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/company_master/user">
                                <button class="btn btn-primary"> Company Admin</button>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/employee">
                                <button class="btn btn-primary"> Employee</button>
                            </a>
                        </div>
                    </div>
                    <!-- For Loop will close here -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- seitchrole dialogue box end -->
<!-- main content -->
<main class="p-4 min-vh-100">
    <div class="container md-5 pt-5">
        {%with messages = get_flashed_messages()%}
        {%if messages%}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
            <button aria-label="close" class="btn-close" data-bs-dismiss="alert" id="cls_btn" type="button">
                <span aria-hidden="true"></span>
            </button>
            {{message}}
        </div>
        {%endfor%}
        {%endif%}
        {%endwith%}
        <div class="nav-bar">
            <a class="nav" href="/hrms/home"> Employees </a>
            <a class="nav active" href="/hrms/move_employee"> Move </a>
        </div>
        <br>
        <div class="row">
            <button class="btn btn-primary dv" data-bs-target="#addemployee" data-bs-toggle="modal" id="addemp"
                    type="button">
                Add Employee ++
            </button>

            {% if move_emps %}
            <table class="table table-bordered">
                <thead>
                <tr style="text-align: center;">
                    <th> Employee_Name</th>
                    <th> Employee_Email</th>
                    <th> Company_Name</th>
                    <th> Onboarded_On</th>
                    <th colspan="7"> Certificates</th>
                    <th> Action</th>
                </tr>
                <tr style="text-align: center;">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th> 10th </th>
                    <th> 12th </th>
                    <th> Degree </th>
                    <th> Address Proof </th>
                    <th> Offer Letter </th>
                    <th> Payslip </th>
                    <th> Relieving Letter </th>
                </tr>


                </thead>
                <tbody>
                {% for emps in move_emps %}
                <tr class="clickable-row" data-href="/get_employee_details">
                    <td> {{ emps[2] }}</td>
                    <td> {{ emps[3] }}</td>
                    <td> {{ emps[7] }}</td>

                    <td> {{ onboard_date }}</td>
                    <td><a href="{{ emps[19] }}"><button class="btttn btn-success" id="btttn"> Download </button> </a> </td>
                    <td><a href="{{ emps[21] }}"><button class="btttn btn-success">Download</button> </a> </td>
                     <td><a href="{{ emps[23] }}"><button class="btttn btn-success">Download </button> </a> </td>
                    <td><a href="{{ emps[25] }}"><button class="btttn btn-success">Download </button> </a> </td>
                    {% if  emps[26]  %}
                    <td><a href="{{ emps[27] }}"><button class="btttn btn-success">{{ emps[26] }} </button> </a> </td>
                    {% else %}
                    <td><p class="blink"> No document </p></td>
                    {% endif %}
                    {% if  emps[28]  %}
                    <td><a href="{{ emps[29] }}"><button class="btttn btn-success">{{ emps[28] }} </button> </a> </td>
                    {% else %}
                    <td><p class="blink"> No document </p></td>
                    {% endif %}
                    {% if  emps[30]  %}
                    <td><a href="{{ emps[31] }}"><button class="btttn btn-success">{{ emps[30] }} </button> </a> </td>
                    {% else %}
                    <td><p class="blink"> No document </p></td>
                    {% endif %}
                    <td>
                        {% if emps[35] == '1' %}
                        <button class="bttn btn-success" disabled> Moved</button>
                        {% else %}
                        <button class="btn btn-primary dv" data-bs-target="#moveemployee" data-bs-toggle="modal"
                                id="moveemp" type="button">
                            Move Employee
                        </button>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
            {% else %}
            <p> No employee is there to display </p>
            {% endif %}
        </div>
    </div>
</main>
<div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-bs-backdrop="static"
     data-bs-keyboard="false" id="moveemployee"
     tabindex="-1">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                {%with messages = get_flashed_messages()%}
                {%if messages%}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                    <button aria-label="close" class="btn-close" data-bs-dismiss="alert" id="cls_btn" type="button">
                        <span aria-hidden="true"></span>
                    </button>
                    {{message}}
                </div>
                {%endfor%}
                {%endif%}
                {%endwith%}

                <h1 class="modal-title fs-5" id="exampleModalLabel"> Move Employee </h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <form action="/hrms/move_employee_add" method="post">
                    <div class="row">
                        <div class=" col-md-6">
                            <label class="col-form-label" for="empNameDetails"> Employee Name </label>
                            <input class="form-control" id="empNameDetails" name="emp_name" readonly type="text"
                                   value="">
                        </div>

                        <div class="col-md-6">
                            <label class="col-form-label" for="empEmailDetails"> Employee_Email_Address </label>
                            <input class="form-control" id="empEmailDetails" name="email" readonly type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-form-label" for="emp_mob_number"> Employee_Mobile_Number </label>
                            <input class="form-control" id="emp_mob_number" name="emp_mob_number" readonly type="text">
                        </div>
                        <div class="col-md-6">
                            <label class="col-form-label" for="emp_alt_mob_number">
                                Employee_Alternate_Mobile_Number </label>
                            <input class="form-control" id="emp_alt_mob_number" name="emp_alt_mob_number" readonly
                                   type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-form-label" for="emp_work_email_id"> Employee_Work_Email_Address </label>
                            <input class="form-control" id="emp_work_email_id" name="emp_work_email_id" readonly
                                   type="text">
                        </div>
                        <div class="col-md-6">
                            <label class="col-form-label" for="dob"> Employee_Date_of_Birth </label>
                            <input class="form-control" id="dob" name="dob" readonly type="date">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-form-label" for="bg"> Employee_Blood_Group </label>
                            <input class="form-control" id="bg" name="bg" readonly type="text">
                        </div>
                        <div class="col-md-6">
                            <label class="col-form-label" for="emergency_cntct_name">
                                Employee_Emergency_Contact_Person_Name </label>
                            <input class="form-control" id="emergency_cntct_name" name="emergency_cntct_name" readonly
                                   type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-form-label" for="emergency_cntct_number">
                                Employee_Emergency_Contact_Person_Mobile_Number </label>
                            <input class="form-control" id="emergency_cntct_number" name="emergency_cntct_number"
                                   readonly type="text">
                        </div>
                        <div class="col-md-6">
                            <label for="gender"> Gender </label><br>
                            <input class="form-control" id="gender" name="gender"
                                   readonly type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="m_status"> Marital Status </label><br>
                            <input class="form-control" id="m_status" name="m_status"
                                   readonly type="text">
                        </div>
                        <div class="col-md-6">
                            <label class="col-form-label" for="current_address">
                                Employee_Current_Address </label>
                            <input class="form-control" id="current_address" name="current_address"
                                   readonly type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-form-label" for="permanent_address">
                                Employee_Permanent_Address </label>
                            <input class="form-control" id="permanent_address" name="permanent_address"
                                   readonly type="text">
                        </div>
                        <div class="col-md-6">
                            <label class="col-form-label" for="company">Company_Name </label>
                            <input class="form-control" id="company" name="company"
                                   readonly type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-form-label" for="gross">
                                Employee_Gross_Salary (In Months) </label>
                            <input class="form-control" id="gross" name="gross"
                                   type="text">
                        </div>
                        <div class="col-md-6" id="authority">
                            <label class="col-form-label" for="authority"> Employee_Reporting_Authority </label>
                            <select class="form-control" id="auths" name="auths">
                                <option value="#"> -- Select Reporting Authority --</option>
                                {% for authss in authss %}
                                <option value="{{ authss }}"> {{ authss }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <label class="col-form-label" for="dept"> Department </label>
                            <input class="form-control" id="dept" name="dept"
                                   readonly type="text">
                        </div>
                        <div class="col-md-6" id="rolesDiv">
                            <label class="col-form-label" for="roles"> Roles </label>
                            <input class="form-control" id="roles" name="roles"
                                   readonly type="text">
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary float-end mt-2" type="submit"> Move Employee</button>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
$(document).ready(function(){
  $(".clickable-row").click(function() {
   var employeeName = $(this).find("td:nth-child(1)").text().trim();
    $.ajax({
      type: 'POST',
      url: '/get_employee_details',
      data: {'employee_name': employeeName},
      success: function(response){
        var onbNameDetails = response.onb_name;
        console.log("Employee Name:", onbNameDetails[0][2]);
        // Update modal content with employee details
        $('#empNameDetails').val(onbNameDetails[0][2]);
        $('#empEmailDetails').val(onbNameDetails[0][3]);
        $('#emp_mob_number').val(onbNameDetails[0][4]);
        $('#emp_alt_mob_number').val(onbNameDetails[0][5]);
        $('#emp_work_email_id').val(onbNameDetails[0][6]);
        $('#dob').val(onbNameDetails[0][10]);
        $('#bg').val(onbNameDetails[0][11]);
        $('#emergency_cntct_name').val(onbNameDetails[0][12]);
        $('#emergency_cntct_number').val(onbNameDetails[0][13]);
        $('#gender').val(onbNameDetails[0][14]);
        $('#m_status').val(onbNameDetails[0][15]);
        $('#current_address').val(onbNameDetails[0][16]);
        $('#permanent_address').val(onbNameDetails[0][17]);
        $('#company').val(onbNameDetails[0][7]);
        $('#dept').val(onbNameDetails[0][8]);
        $('#roles').val(onbNameDetails[0][9]);

        // Add other details as needed

        // Show the modal
        $('#moveemployee').modal('show');
      },
      error: function(error){
        console.log(error);
      }
    });
  });
});



$(document).ready(()=>{
  $('#open-sidebar').click(()=>{
      // add class active on #sidebar
      $('#sidebar').addClass('active');
      // show sidebar overlay
      $('#sidebar-overlay').removeClass('d-none');
   });
   $('#sidebar-overlay').click(function(){
      // add class active on #sidebar
      $('#sidebar').removeClass('active');
      // show sidebar overlay
      $(this).addClass('d-none');
   });
});





</script>
</body>
</html>